@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@font-face {
  font-family: "Sunflower";
  src: url('./css/Sunflower-Light.ttf');
}


body, html {
    font-family: 'Sunflower', 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #000;
}

.table {
  /* background-color: black; */
  height: 100%;
  background-image: url('/public/background.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

/* Disable input number arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
}

.cursor {
  cursor: pointer;
}

.blink {
  animation: blinker 1s linear infinite;
}

.blink-long {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
