/* @import url('https://fonts.google.com/download?family=Roboto&display=swap');
@import url('https://fonts.google.com/download?family=Open+Sans&display=swap'); */

body {

  font-family: Roboto, Open Sans;
  background-image: url(/public/background.jpg);
  background-repeat: no-repeat, repeat;
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
