/* @import url('https://fonts.google.com/download?family=Roboto&display=swap');
@import url('https://fonts.google.com/download?family=Open+Sans&display=swap'); */

body {

  font-family: Roboto, Open Sans;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table {
  /* background-color: black; */
  height: 100%;
  background-image: url('/public/background.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.blink {
  animation: blinker 1s linear infinite;
}

.blink-long {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
